root = false

[*]
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = false

[*.{c,cpp,h,hpp}]
indent_size = 4
insert_final_newline = true

[*.{vcxproj,vcxproj.filters,props,targets}]
end_of_line = crlf