<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Always keep <clear/> and keep a single feed here to prevent substitution attacks -->
        <clear />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>
