<?xml version="1.0" encoding="utf-8"?>
<!--
//*****************************************************************************
//
//	Copyright 2015 Microsoft Corporation
//
//	Licensed under the Apache License, Version 2.0 (the "License");
//	you may not use this file except in compliance with the License.
//	You may obtain a copy of the License at
//
//	http ://www.apache.org/licenses/LICENSE-2.0
//
//	Unless required by applicable law or agreed to in writing, software
//	distributed under the License is distributed on an "AS IS" BASIS,
//	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//	See the License for the specific language governing permissions and
//	limitations under the License.
//
//*****************************************************************************
-->
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity
    Name="1943788f-61f4-402a-963f-8d0098269f76"
    Version="1.0.0.0"
    Publisher="CN=timargo" />

  <mp:PhoneIdentity PhoneProductId="1943788f-61f4-402a-963f-8d0098269f76" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>MediaPlayerJS.WindowsPhone</DisplayName>
    <PublisherDisplayName>timargo</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

        <m3:VisualElements
                  DisplayName="MediaPlayerJS.WindowsPhone"
                  Square150x150Logo="images\Square150x150Logo.png"
                  Square44x44Logo="images\Square44x44Logo.png"
                  Description="MediaPlayerJS.WindowsPhone"
                  ForegroundText="light"
                  BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square71x71Logo="images\Square71x71Logo.png" />
            <m3:SplashScreen Image="images\SplashScreen.png" />
        </m3:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>

</Package>
